
@import "colors";

.address-autocomplete-container {
  .address-autocomplete-input-container {
    input[type="search"] {
      background: white;
      border: 1px solid $primary-color !important;
      border-right: 0 !important;
      border-radius: 3px 0 0px 3px;
      box-sizing: border-box;
      color: black;
      height: 3rem;
      margin: 0;
      margin-bottom: 0;
      outline-width: 0;
      padding: 0 1.5rem;
      width: 100%;
    }

    .collection.autocomplete {
      border: 0px solid $primary-color;
      border-top: 0;
      box-shadow: 0 0 0 1px $primary-color;
      box-sizing: border-box;
      color: $primary-color;
      display: block;
      margin: 0 1px;
      max-width: 40rem;
      position: absolute;
      z-index: 9999;

      left: 0;
      right: 0;
      top: 47px;
    }

    .collection-item.autocomplete {
      background: $primary-background-color;
      cursor: pointer;
      display: block;
      float: none;
      padding: 1rem;
    }

    .collection-item.autocomplete.active {
      background: $secondary-background-color;
    }

    min-width: 30rem;
    max-width: 40rem;
    width: 100%;
  }

  button {
    background: white;
    border-radius: 0 3px 3px 0;
    border: 1px solid $primary-color;
    border-left: 0;
    box-sizing: border-box;
    color: black;
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    right: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 3em;
  }

  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
